/* .container-fluid{
    background-color: rgb(245, 244, 244);
}
#cards .card{
    
    box-shadow:2px 3px 0px 5px rgb(219, 175, 175);
}
.container{
    padding-top:100px;
}
.card .row h2{
    padding-bottom:0;
    margin:0;
    font-size: 1.5em;
}
.card  h3{
 text-align: center;
}
.card .row .image{
    margin-left: 25px;
}
.card .row .heading{
    margin-left:8px;
}
.card h4{
    text-align: center  ;
}
.col-md-4{   margin-bottom:30px;
}
.card{
    padding:20px;
}
small{
    text-align: center;
    display: inline;
} */
/* matcard */
.container-fluid{
    background-color: teal;
    height: auto;
}
.container{
    padding-top:100px;
}
.col-md-4{   margin-bottom:30px;
}
.header-image{
    background-image: url('/assets/images/person.jpeg');
    background-size: cover;
}
.card{
  max-width:500px;
}
mat-card-content{
    text-align: center;
}
mat-card-footer{
    text-align: center;
}
.close-icon{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}